/* You can add global styles to this file, and also import other style files */
@import "bpmn-js/dist/assets/bpmn-js.css";
@import "bpmn-js/dist/assets/diagram-js.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dropdown-field {
  width: 200px;
}
